*{
    padding:0;
    margin:0;

}

body{
    margin-top: 20px;
    margin-left: 10px;
    background-color: #80808080;
    color:white;

}

table{
    
    border-radius:10px;
    border-collapse:collapse;
   
}


th,td{
    padding:5px;
}
tbody tr:nth-child(odd){
    background-color:black;
}

tbody tr:nth-child(even){
    background-color:white;
    color:black;
}

.tabla-responsive{
    overflow-x:auto;
}
