*{
    padding: 0;
    margin:0;
}

body{
    margin:20px;
}

label,input{
    display:block;
    margin:10px;
}
#formulario{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    
    width:30%;
    padding:5px;
    border:1px solid #333;
    transition: all 0.3s ease;
    
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    border:4px blue solid;
}

input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid{
        border:2px red dashed;

}

::placeholder{
    color:rgb(86, 216, 54);
}

input[type="submit"]{
    width:70px;
    margin-top:15px;
    transition: transform 2s;
}

input[type="submit"]:hover{
    transform: scale(1.1) rotate(720deg)
}