.caja1{
    float:left;
    background-color: blue  ;
    border: solid 2px grey;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
    height:100px;
}

.caja2{
    float: left;
    background-color: lightyellow;
    width: 20%;
    height: 50px;
}

.caja3{
    float:left; clear:left;
    background-color: lightcoral;
    border: solid 1px black;
    width: 20%;
    height: 50px
}