body{
    font-family: Arial;
    background-color: #21CCEB;
}

.menuPrincipal a:link,a:visited{
    color:white;
    text-decoration:none;
}

.menuPrincipal a:hover{
    color:orange;
    background-color: white;
    text-decoration: underline;
}